.logo {
  line-height: 1.1;
  font-size: 4.5rem;
  font-family: "Strike";

  @media (max-width: 900px) {
    font-size: 13vw;
    margin-top: 35px;
  }

  span {
    display: block;
  }
}

.date {
  color: var(--color-cucumber);
}
