.wrapLeft {
  position: absolute;
  right: calc(50% + 480px);
  transform: translateX(50%);
  z-index: -1;
  width: 570px;
  top: 40px;
}

.wrapRight {
  position: absolute;
  right: calc(50% - 480px);
  transform: translateX(50%);
  z-index: -1;
}

.animation {
  display: block;
  height: 100%;
  max-width: none;
  overflow: visible;
}

.cloud1 {
  animation: slide 5s infinite ease alternate;
}

.cloud2 {
  animation: slide-narrow 7s infinite ease alternate-reverse;
}

.cloud3 {
  animation: slide-narrow 5s infinite ease alternate;
}

.moon {
  animation: up-down 9s infinite ease alternate-reverse;
}

.sway {
  animation: sway 4s infinite ease alternate;
  transform-origin: center bottom;
}

.wind {
  animation: wind 3s infinite ease alternate;
  transform-origin: center bottom;
}

.tilt {
  animation: wind 7s infinite ease alternate;
  transform-origin: center bottom;
}

.rotate {
  animation: rotate 4s infinite ease alternate;
  transform-origin: center;
}

.slide {
  animation: slide 8s infinite ease alternate;
  transform-origin: center;
}

.blink {
  animation: blink 10s infinite ease alternate;
}

.blink2 {
  animation: blink 10s infinite ease;
}

@keyframes up-down {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 20px);
  }
}

@keyframes sway {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes tilt {
  0% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes slide-narrow {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

@keyframes sway {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes wind {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes tilt {
  0% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  84% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
