.illustrations {
  margin-bottom: -118px;
  overflow: hidden;
  display: flex;
  justify-content: center;

  @media (max-width: 600px) {
    margin-bottom: -60px;
  }

  @media (max-width: 400px) {
    margin-bottom: -50px;
  }

  > svg {
    max-width: none;
    flex-shrink: 0.5;

    @media (max-width: 600px) {
      flex-shrink: 0.8;
    }
  }
}

.footer {
  background-color: var(--color-cherry);
  color: var(--color-almondmilk);
  padding-top: 100px;

  @media (max-width: 600px) {
    padding-top: 40px;
  }
}

.logo {
  line-height: 0.9;
  span {
    display: block;
  }
  &:hover {
    text-decoration: none;
  }
}

.menuItem {
  margin-right: 2rem;
  font-family: "Strike";

  &:last-child {
    margin-right: 0;
  }
}

.tickets {
  padding: var(--spacing-1) var(--spacing-5);
  background-color: var(--color-tomato);
  color: var(--color-oatmilk);
  text-transform: none;
  letter-spacing: normal;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
  clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
  &:hover {
    background-color: var(--color-aubergine);
  }
}
